* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f2f2f2;;
}
footer {
  background-image: url(https://cdn.wallpapersafari.com/2/63/xcqYZ8.jpg);
  text-align: center;
}

.nav {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
}
.nav a {
  color: #32CD32;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 1px 1px black; 
}

.navRight {
  float: right;
}

.challenges {
  margin-top: 50px;
  text-align: center;
}

.challengenumbers {
  font-size: 35px;
}

.challengebar {
  margin: 0 auto;
  width: 480px;
  height: 20px;
  outline: 2px solid black;
}

.finishButton {
  border-radius: 5px;
}

#challengeprogress{
  margin-top: 10px;
  width: 1px;
  height: 20px;
  background-color: green;
}

#timer {
  padding-top: 30px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

.nav a:hover{
  color: black;
  background-color: white;
}

#title {
    color: green;
}

#pointcounter{
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

.greenPoints{
  text-align: center;
}

.pictures {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.profile {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  display: inline-block;
}

.friendstitle {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

#icon {
  padding-left: 10px;
  padding-top: 5px;
  float: left;
  width: 50px;
  height: 50px;
}