body {
  background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.nav {
  overflow: hidden;
  background-color: #D3D3D3;
}
.nav a {
  color: #32CD32;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 1px 1px black;
}

.navRight {
  float: right;
}

.challenges {
  margin-top: 50px;
  text-align: center;
}

.challengenumbers {
  font-size: 35px;
}

.challengebar {
  margin: 0 auto;
  width: 480px;
  height: 20px;
  outline: 2px solid black;
}

#challengeprogress{
  margin-top: 10px;
  width: 1px;
  height: 20px;
  background-color: green;
}

#timer {
  padding-top: 100px;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
}

.nav a:hover{
  color: black;
  background-color: white;
}

#title {
    color: green;
}
